<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title
      ><b><i>Aplikasi Kontak Digital</i></b></ion-title
    >
  </ion-toolbar>
  <div class="container">
    <ion-button color="danger" (click)="logout()">
      <ion-icon ios="exit-outline" md="exit-sharp"></ion-icon>
      <ion-label>Logout</ion-label>
         </ion-button
    >
  </div>
</ion-header>

<ion-content>
  <ion-card
    *ngFor="let item of 
dataKontak"
  >
    <ion-item>
      <ion-label color="tertiary"
        ><b> <i>Nama:</i> {{item.nama_kontak}}</b>
        <p><i>No tlp:</i> {{item.nomor_kontak}}</p>
      </ion-label>
      <ion-button
        color="warning"
        expand="block"
        (click)="open_modal_edit(true,item.id)"
        >Edit</ion-button
      >
      <ion-button color="danger" slot="end" (click)="hapusKontak(item.id)"
        >Hapus</ion-button
      >
    </ion-item>
  </ion-card>
</ion-content>

<ion-card>
  <ion-button (click)="open_modal_tambah(true)" expand="block" color="success"
    >Tambah Kontak</ion-button
  >
</ion-card>
<!-- ini untuk modal tambah -->
<ion-modal [isOpen]="modal_tambah">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Batal</ion-button>
        </ion-buttons>
        <ion-title>Tambah Kontak</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item>
        <ion-input
          label="Nama Kontak"
          labelPlacement="floating"
          required
          [(ngModel)]="nama_kontak"
          placeholder="Masukkan Nama Kontak"
          type="text"
        >
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          label="Nomor Kontak"
          labelPlacement="floating"
          required
          [(ngModel)]="nomor_kontak"
          placeholder="Masukkan Nomor Kontak"
          type="text"
        >
        </ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button
            type="button"
            (click)="tambahKontak()"
            color="primary"
            shape="full"
            expand="block"
            color="success"
            >Tambah Kontak
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-content>
  </ng-template>
</ion-modal>

<!-- ini untuk modal edit -->
<ion-modal [isOpen]="modal_edit">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Batal</ion-button>
        </ion-buttons>
        <ion-title>Edit Kontak</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item>
        <ion-input
          label="Nama Kontak"
          labelPlacement="floating"
          required
          [(ngModel)]="nama_kontak"
          placeholder="Masukkan Nama Kontak"
          type="text"
        >
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          label="Nomor Kontak"
          labelPlacement="floating"
          required
          [(ngModel)]="nomor_kontak"
          placeholder="Masukkan Nomor Kontak"
          type="text"
        >
        </ion-input>
      </ion-item>
      <ion-input required [(ngModel)]="id" type="hidden"> </ion-input>
      <ion-row>
        <ion-col>
          <ion-button
            type="button"
            (click)="editKontak()"
            color="primary"
            shape="full"
            expand="block"
            color="warning"
            >Edit Kontak
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-content>
  </ng-template>
</ion-modal>
